{% extends "base.html" %}

{% block title %}Home - Fishing Logger{% endblock %}

{% block body_class %}home-body{% endblock %}

{% block content %}
  <div class="homeimage"> <img class="home" src="static/homepage.png" alt=""> 
    <div class="welcome">
      <p class="welcome"> Welcome to Fishing Logger! Track your catches and review your trips.</p></br>
      <p class="logreg"><a class="account" href="/">Login</a></p></br>
      <p class="logreg"><a class="account" href="/register">New? Create an Account!</a></p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}