{% extends "base.html" %}

{% block title %}Log a Trip{% endblock %}

{% block content %}
    {% for msg in get_flashed_messages() %}
        <div id="flash-message" class="logpopup">{{ msg }} </div>
    {% endfor %}
    <form method="post">
        <label for="species">Species:</label><br>
        <input type="text" id="species" name="species" required><br><br>

        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" required><br><br>

        <label for="weather">Weather:</label><br>
        <input type="text" id="weather" name="weather" required><br><br>

        <label for="time">Time of Day:</label><br>
        <input type="datetime-local" id="time" name="time" required><br><br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
