{% extends "base.html" %}

{% block title %}Home - Fishing Logger{% endblock %}

{% block body_class %}register-body{% endblock %}


{% block content %}
<main class="create-account">
    <p class="welcreg">Welcome to Fishing Logger!</p><br>
    <p class="welcreg">Please add a username and password</p><br>
    <form method="post" class="create-account">
        <label for="username">Add a Username:</label><br>
        <input type="username" id="username" name="username" required><br>

        <label for="password">Add a Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Submit">

    </form><br>
    <p><a href="/">Already have an account?</a></p>
  </main>

{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}