{% extends "base.html" %}

{% block title %}Trip Log{% endblock %}

{% block content %}

    <form method="get" action="/trips">
        <label for="species-list">Species:</label><br>
        <datalist id="species-list">
            <option value="trout">
            <option value="salmon">
            <option value="perch">
            <option value="pike">
            <option value="pike-perch">
        </datalist>
        <input type="text" list="species-list" name="species" id="species">
    </form>
    {% if trips %}
        {% for trip in trips %}
            <div style="margin-bottom: 20px;">
                <h3>Trip {{ loop.index }}</h3>
                <p>
                    <strong>Species:</strong> {{ trip.species }}<br>
                    <strong>Location:</strong> {{ trip.location }}<br>
                    <strong>Temperature:</strong> {{ trip.temperature }}<br>
                    <strong>Condition:</strong> {{ trip.condition }}<br>
                    <strong>Humidity:</strong> {{ trip.humidity }}<br>
                    <strong>Wind:</strong> {{ trip.wind }}<br>
                    <strong>Lunar Phase:</strong> {{ trip.lunarphase }}<br>
                    <strong>Date:</strong> {{ trip.date }}<br>
                    <strong>Time:</strong> {{ trip.time }}
                </p>
                <form method="post" action="{{ url_for('delete', trip_id=trip.trip_id) }}">
                    <input type="submit" value="Delete" style="background-color: red; color: white;">
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No trips logged.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
